.main-logo-image{
    height: 18%;
    width: auto;
}

.title-reddit{
    font-size: 4rem;
}

.btn{
    width: 100%;
    margin-top: 5%;
}

.heading-row{
    padding-top: 1%;
    background-color: rgb(255, 17, 0);
}